<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5g trace visvalizer</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="top">
        <form action="/trace" method="post" enctype="multipart/form-data">
          <label for="fileUpload" class="custom-file-upload">Choose File</label>
          <input type="file" id="fileUpload" name="uploadFile" hidden />
          <span id="fileName">No file chosen</span>
          <input type="submit" value="Trace" id="button" />
        </form>
      </div>

      <div class="response">
        <p><%= locals.response %></p>
      </div>
    </div>

    <script>
      document
        .getElementById("fileUpload")
        .addEventListener("change", function () {
          let fileName =
            this.files.length > 0 ? this.files[0].name : "No file chosen";
          document.getElementById("fileName").textContent = fileName;
        });
    </script>
  </body>
</html>
